<div class="app-card-container">
 <div class="card">
  <h1>About Me </h1>

  <hr>

  <div class='row'>
   <div class='col-md-5'>
  <%= image_tag "profile.jpg", width: 200, alt: "profile image", class: 'profile-img' %>
   </div>

   <div class="col-md-7">
   <p>I've spent the last decade working with health information systems in the medical field.</p>

    </div>
   </div>
 </div>
</div>